//Colors

$color-primary: #06dbd4;
$color-secondary: #00c7ef;
$color-white: #fff;
$color-black: #051736;

$color-grey-light: #f0f2f6;

$color-blue-dark: #202732;
$color-blue-dark-2: #222333;
$color-blue-light: #535f75;

$gradient: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);

//Fonts

$font-size-default: 1.6rem;

$font-primary: "Georgia", serif;
$font-secondary: "Arial", serif;

//

$main-width: 100rem;
